<div class="container-fluid">
    <div class="row my-3">
        <div class="col-6">
            <h3>Airports</h3>
        </div>
        <div class="col-6">
            <button class="btn btn-primary pull-right mx-2" data-toggle="modal" (click)="airportForm.reset(); selectAirport = null"
                data-target="#exampleModal">
                Add Airport
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <!-- Approach -->
            <div class="card shadow mb-4">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Country</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let airport of airports">
                            <th scope="row">{{airport._id}}</th>
                            <td>{{airport.name}}</td>
                            <td>{{airport.country}}</td>
                            <td>
                                <div class="pull-right">
                                    <button class="btn btn-primary btn-sm mx-2" data-toggle="modal"
                                        data-target="#exampleModal"
                                        (click)="selectedAirport = airport; selectAirport()">
                                        <span class="fas fa-fw fa-edit"></span>
                                    </button>
                                    <button class="btn btn-danger btn-sm mx-2"
                                        (click)="selectedAirport = airport ; deleteAirport()">
                                        <span class="fas fa-fw fa-trash"></span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Airport</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="airportForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Name</label>
                            <input type="text" class="form-control" formControlName="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Country</label>
                            <input type="text" class="form-control" formControlName="country" placeholder="Country">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add()"
                    *ngIf="!selectedAirport?._id">
                    Save changes
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="edit()"
                    *ngIf="selectedAirport?._id">
                    Edit
                </button>
            </div>
        </div>
    </div>
</div>